$colour-1: #edece8;
$colour-2: #e09393;
$colour-3: #283c56;
$colour-4: #B4C5F3;
$colour-5: #b4f3e2;
$colour-6: #F6F457;
$colour-7: #DBDBCC;
$colour-8: #B4F3C3;
$colour-9: #0b5750;
$colour-10: #e7d6d6;